@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --first-color: rgb(29, 28, 28);
    --second-color: rgb(240, 131, 92);
    --third-color: rgb(249, 241, 241);
    --fourth-color: rgb(134, 130, 130);
}

a {
    text-decoration: none;
}

button {
    background-color: var(--third-color);
    color: var(--first-color);
    border: none;
    padding: 1vw;
    font-weight: 600;
    border-radius: 10px;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--third-color);
}

.nav-bar {
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-between;
}

.nav-bar a {
    color: var(--first-color);
}

.logo {
    color: var(--first-color);
    font-size: 2vw;
    text-transform: uppercase;
    font-weight: 600;
    margin-left: 10vw;
    margin-top: 2vw;
}

ul {
    list-style: none;
}

.menu {
    display: flex;
    flex-direction: row;    
}

.menu li {
    font-size: 1.5vw;
    margin-top: 2.5vw;
    margin-left: 5vw;
    margin-right: 4vw;
}

.main {
    width: 70%;
    height: 70vh;
    display: flex;
    background-color: var(--second-color);
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    text-align: center;
    gap: 1vw;
}

.main h3 {
    font-weight: 600;
    margin-top: 5vw;
}

.main p {
    font-size: 1vw;
    margin-top: 2vw;
}

.main-content {
    width: 40%;
    color: var(--third-color);
    margin-left: 2vw;
}

.main-content button {
    margin-top: 2vw;
}

.main-content a {
    color: var(--first-color);
}

.pic {
    width: 100%;
    margin-right: 7vw;
}

.gallery {
    display: grid;
    grid-template-areas: 
    "first-gallery second-gallery"
    "first-gallery third-gallery";
    width: 70%;
    height: 50vh;
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    gap: 1.5vw;
}

.first-gallery {
    background-image: url(./images/laptop.jpg);
    grid-area: first-gallery;
    color: var(--third-color);
    text-align: center;
}

.first-gallery div {
    background-color: var(--first-color);
    opacity: 90%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.first-gallery h4 {
    font-size: 2vw;
    font-weight: 300;
    margin-top: 25vh;
}

.first-gallery p {
    font-size: 1.5vw;
    margin-top: 2vh;
    font-weight: 200;
}

.first-gallery a {
    color: var(--third-color);
}

.second-gallery {
    background-image: url(./images/phone.jpg);
    grid-area: second-gallery;
    color: var(--third-color);
    text-align: center;
}

.second-gallery div {
    background-color: var(--first-color);
    opacity: 90%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    margin-bottom: 3vh;
}

.second-gallery h4 {
    font-size: 2vw;
    margin-top: 25vh;
    font-weight: 300;
}

.second-gallery p {
    font-size: 1.5vw;
    margin-top: 2vh;
    font-weight: 200;
}

.second-gallery a {
    color: var(--third-color);
}

.third-gallery {
    background-image: url(./images/design.jpg);
    grid-area: third-gallery;
    color: var(--third-color);
    text-align: center;
}

.third-gallery div {
        background-color: var(--first-color);
        opacity: 90%;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        border-radius: 10px;
        margin-bottom: 3vh;
    }
    
.third-gallery h4 {
        font-size: 2vw;
        margin-top: 25vh;
        font-weight: 300;
    }
    
.third-gallery p {
        font-size: 1.5vw;
        margin-top: 2vh;
        font-weight: 200;
    }

.third-gallery a {
        color: var(--third-color);
    }

.first-gallery, .second-gallery, .third-gallery {
    border-radius: 10px;
    filter:grayscale(100%);
}

.content {
    display: flex;
    margin-top: 50vh;
    width: 70%;
    height: 70vh;
    margin-left: auto;
    margin-right: auto;
    gap: 1vw;
}

.content img {
    width: 60%;
    margin-left: 3vw;
}

.content h5 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.5vw;
    margin-left: 5vw;
    margin-bottom: 2vw;
}

.content p {
    font-size: 1vw;
    margin-top: 3vh;
    margin-left: 3vw;
    margin-right: 2vw;
}

.content a {
    color: var(--first-color);
}

.contact {
    display: flex;
    background-color: var(--second-color);
    width: 70%;
    height: 30vh;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.text {
    color: var(--third-color);
    width: 50%;
}

.text h3 {
    font-size: 2vw;
    font-weight: 500;
    margin: 2vw;
}

.text p {
    font-size: 1vw;
    margin: 2vw;
}

.contact-btn {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vw;
}

.contact-btn a {
    color: var(--first-color);
}

footer {
    width: 100%;
    height: 30vh;
    background-color: var(--first-color);
    margin-top: 2vh;  
    display: flex;  
    color: var(--third-color);
    gap: 10vw;
}

.logo-footer {
    font-size: 2vw;
    text-transform: uppercase;
    font-weight: 600;
    margin-left: 10vw;
    margin-top: 2vw;
}

.logo-footer a {
    color: var(--third-color);
}

.address {
    font-size: 1vw;
    margin-top: 8vh;
}

.social {
    color: var(--second-color);
    font-size: 1.5vw;
    margin: 5vw;
}

.social a {
    color: var(--second-color);
}

@media (max-width: 768px) {
    .main {
        width: 90%;
    }

    .gallery {
        width: 90%;
    }

    .content {
        width: 100%;
        height: 70vh;
    }

    .contact {
        display: none;
    }
}